[[source]]

url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"


[packages]

flask = "*"
click = "*"
pillow = "*"
numpy = "*"
imageio = "*"


[dev-packages]



[requires]

python_version = "3.6"
